# Ignore system directories and files
.gitconfig
.lesshst
.viminfo
.vscode/
3D Objects/
AppData/
Contacts/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
MicrosoftEdgeBackups/
Music/
NTUSER.DAT
NTUSER.DAT*
.849C9593-D756-4E56-8D6E-42412F2A707B
FR Amendments/
GitHub Desktop.lnk
GitHubDesktopSetup-x64.exe
Telegram.lnk
Visual Studio Code.lnk
course/
desktop.ini
react-course/
react/
Documents/
Getting started with OneDrive.pdf
Personal Vault.lnk
Pictures/
Saved Games/
Searches/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
